<!-- Navbar -->
  <header class="fixed h-14 p-3 top-0 w-full bg-black z-50 border-b border-white">
    <nav class="max-w-4xl mx-auto flex justify-between px-4">
      <!-- LOGO -->
      <p class="text-4xl font-bold text-primary font-titulo">
        <a href="index.html">MACM<span class="text-white">DEV</span></a>
      </p>

      <!-- BOTÓN HAMBURGUESA -->
      <button id="menu-btn" class="md:hidden flex flex-col gap-2 justify-center">
        <span class="bar w-10 h-1 bg-primary rounded transition-all duration-300"></span>
        <span class="bar w-10 h-1 bg-primary rounded transition-all duration-300"></span>
        <span class="bar w-10 h-1 bg-primary rounded transition-all duration-300"></span>
      </button>
      <!-- MENÚ -->
      <ul id="menu" class="fixed top-14 right-0 w-3/5 bg-black/85 md:bg-transparent text-[#FF585C] backdrop-blur-sm
           flex flex-col gap-6 transform translate-x-full p-4 md:p-0
           transition-transform duration-300 md:static md:translate-x-0 md:flex md:flex-row md:w-auto md:items-center md:h-auto">

        <li>
          <a href="index.html" data-page="home"
            class="text-xl md:hover:text-white md:hover:bg-[#FF585C] px-4 py-1 rounded-md font-bold md:transition">
            Inicio
          </a>
        </li>
        <li>
          <a href="proyectos.html" data-page="proyectos"
            class="text-xl md:hover:text-white md:hover:bg-[#FF585C] px-4 py-1 rounded-md font-bold md:transition">
            Proyectos
          </a>
        </li>

        <li>
          <a href="contacto.html" data-page="contacto"
            class="text-xl md:hover:text-white md:hover:bg-[#FF585C] px-4 py-1 rounded-md font-bold md:transition">
            Contacto
          </a>
        </li>

        <li>
          <a href="assets/cv/Miguel_Angel_Cabello_Mesa_CV.docx"
            class="text-xl text-white bg-primary md:text-white md:bg-transparent md:hover:bg-primary md:hover:text-white px-3 py-1.5 border-2 border-white md:border-primary rounded-md font-bold md:transition">
            CV
          </a>
        </li>

      </ul>

    </nav>
  </header>