@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-titulo: "Luckiest Guy", cursive;
    --font-sans: "Roboto", sans-serif;

    --color-primary: #ff5050;
}

@layer components {
    /* .seccion {
        @apply max-w-5xl mx-8 md:mx-auto px-8 md:px-24 py-12 mt-8;
    } */
}
